include README.markdown
include scraptils/tools/bbox.py
include scraptils/tools/csvtojson.py
include scraptils/tools/pdf2csv.py
include scraptils/tools/pdfmask.sh
include scraptils/tools/showcells.py
include scraptils/tools/split.py
